.cream {
    color: #EBE4D1
}

.gray {
    color: #858585
}

.navy {
    color: #26577c
}

.orange {
    color: #e55604
}

.black {
    color: rgb(97, 95, 95);
}

body {
    margin: 0px;
    background-color: #EBE4D1;
    text-align: center;
}

.profile-image {
    margin-top: 5%;
    margin-bottom: 1.5%;
    border-radius: 15%;
    max-width: 15%;
}

.desc {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

kbd.blue {
    background-color: #26577c;
}

kbd.blue:hover {
    background-color: #e55604;
}

kbd.orange{
    background-color: #e55604;
    color: white;
}

kbd.orange:hover {
    background-color: #26577c;
}

header {
    background-color: transparent;
}

h3 {
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    margin-left: 2%;
    margin-right: 2%;
}

a {
    color: #858585;
}

a:hover {
    color: #26577c;
    text-decoration: none;
}

a.current:hover {
    color: #e55604;
    text-decoration: none;
}

.projectButton {
    background-color: #26577c;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

button:hover {
    background-color: #e55604;
}

#projectPageDescription {
    margin-bottom: 30px;
}

.projectDescription {
    font-size: 17px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.box {
    text-align: center;
}

p {
    font-family: Helvetica, Arial, sans-serif
}
