* {
	box-sizing: border-box;
	border-radius: 0;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

body {
	margin: 0;
	min-width: 320px;
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-family-mono);
}

a {
	color: inherit;
}

h2,
h3,
p {
	margin-top: 0;
}

h2 {
	max-width: 12ch;
	margin-bottom: 1.5rem;
	font-size: clamp(2rem, 5vw, 4.5rem);
	font-weight: 500;
	letter-spacing: -0.075em;
	line-height: 0.95;
}
